* {
  margin: 0px;
}

.body {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.image {
  width: 1165px;
  height: 1062px;
}

.userFields {
  /* padding: 50px; */
  margin-left: 50px;
  margin-top: 40px;
}
.Login {
  font-size: 20px;
  color: rgb(29, 161, 242);
  margin-bottom: 8px;
}
.loginFields {
  display: flex;
}
.loginInputFields {
  display: flex;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(91, 112, 131);
  width: 225px;
  height: 65px;
  border: 1px solid rgb(196, 207, 214);
  border-radius: 4px;
  margin-right: 15px;
  padding-left: 8px;
  padding-right: 8px;
  justify-content: space-between;
  outline: none;
}
.loginInputFields:focus {
  border-color: rgb(29, 161, 242);
}

.loginButton {
  background-color: white;
  color: rgb(29, 161, 242);
  font-size: 15px;
  width: 112px;
  height: 48px;
  margin-top: 10px;
  border: 1px solid rgb(29, 161, 242);
  border-radius: 50px;
  cursor: pointer;
}
loginButton:hover {
  background-color: rgb(29, 161, 242);
  color: rgb(225, 225, 225);
}
.fogetPassword {
  margin-left: 12px;
  margin-top: 4px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  cursor: pointer;
  color: rgb(29, 161, 242);
}
.signUp {
  margin-top: 100px;
  /* margin-left: 80px; */
  font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.happeningText {
  font-size: 64px;
  font-weight: 700;
  color: rgb(15, 20, 25);
  margin-top: 30px;
  margin-bottom: 48px;
}
.titleText {
  margin-bottom: 32px;
  line-height: 36px;
  font-size: 31px;
  font-weight: 700;
}

.signupField {
  margin-bottom: 10px;
}
.signupInputField {
  color: rgb(91, 112, 131);
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid rgb(196, 207, 214);
  outline-style: none;
}
.signupButton {
  font-size: 15px;
  width: 125px;
  height: 48px;
  margin-top: 10px;
  margin-left: 70px;
  border: 1px solid rgb(29, 161, 242);
  border-radius: 50px;
  background-color: rgb(29, 161, 242);
  cursor: pointer;
  color: rgb(225, 225, 225);
  font-weight: 700;
}

logIn {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  background-color: white;
  color: rgb(29, 161, 242);
  font-size: 15px;
  width: 350px;
  height: 50px;
  margin-top: 10px;
  border: 1px solid rgb(29, 161, 242);
  border-radius: 50px;
  cursor: pointer;
  font-weight: 700;
}
